
<h4>Статистика</h4>

<span>Файлы содержащие версионность</span>
<ngb-progressbar
  [value]="(15000/300) "
  [striped]="true"
  [animated]="true"
  type="success">
<span>55%</span>
</ngb-progressbar>
<br>
<!--<div>ehffff</div>-->
<!--<div *ngIf="!updating && jvmMemoryMetrics">-->
<!--  <div *ngFor="let entry of jvmMemoryMetrics | keyvalue">-->
<!--    <span *ngIf="entry.value.max !== -1; else other">-->
<!--&lt;!&ndash;      <span>{{ entry.key }}</span>&ndash;&gt;-->
<!--      <span>важное число</span>-->
<!--&lt;!&ndash;      ({{ entry.value.used / 1048576 | number: '1.0-0' }}M / {{ entry.value.max / 1048576 | number: '1.0-0' }}M)&ndash;&gt;-->
<!--    </span>|-->

<!--&lt;!&ndash;    <div>Процент файлов, которые имеют версии : {{ entry.value.committed / 1048576 | number: '1.0-0' }}M</div>&ndash;&gt;-->


<!--    <ng-template #other-->
<!--      ><span-->
<!--        ><span>{{ entry.key }}</span> {{ entry.value.used / 1048576 | number: '1.0-0' }}M</span-->
<!--      ></ng-template-->
<!--    >-->

<!--    <ngb-progressbar-->
<!--      *ngIf="entry.value.max !== -1"-->
<!--      type="success"-->
<!--      [value]="(100 * entry.value.used) / entry.value.max"-->
<!--      [striped]="true"-->
<!--      [animated]="false"-->
<!--    >-->
<!--&lt;!&ndash;      <span>{{ (entry.value.used * 100) / entry.value.max | number: '1.0-0' }}%</span>&ndash;&gt;-->
<!--    </ngb-progressbar>-->
<!--  </div>-->
<!--</div>-->
